@page
@model Shop.UI.Pages.Admin.ConfigureUsersModel
@{
    ViewData["Title"] = "Nick's Skate Shop";
}


<div id="app" class="container">
    <input v-model="username" />
    <button @@click="createUser()">Create User</button>
</div>




@section scripts{
    <script src="~/js/admin/users.js"></script>
}