<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop.UI</title>
    <link rel="icon" type="image/png" href="~/favicon.png" />

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/bulma-0.8.0/css/bulma.css" rel="stylesheet" />
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link href="~/lib/bulma-0.8.0/css/bulma.min.css" rel="stylesheet" />
    </environment>
</head>
<body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" asp-page="/Index">
                    <h1 class="title">Nick's Skate Shop</h1>
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">



                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="navbar-item" asp-page="/Admin/Index">Admin</a>
                    }
                </div>


                <div class="navbar-end">
                    <vc:cart view="Small"></vc:cart>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="navbar-item" asp-controller="Account" asp-action="Logout">Sign Out</a>
                    }

                </div>
            </div>
        </div>
    </nav>





    <div class="container body-content">
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                &copy; Nick's Skate Shop
            </p>
            <a asp-page="/Admin/Index">Admin Login</a>
        </div>
    </footer>

    <environment include="Production">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment include="Production">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
