@page
@model Shop.UI.Pages.CartModel
@{
}

<div class="container">
    <div class="columns">
        <div class="column is-6 is-offet-3">

            @foreach (var product in Model.Cart)
            {
                <div class="level">
                    <div class="level-item">
                        <figure class="image is-128x128">
                            <img src="~/images/tata.jpg" />
                        </figure>
                    </div>
                    <div class="level-item">
                        <p class="title">@product.Name</p>
                    </div>
                    <div class="level-item">
                        <p>Quantity: @product.Quantity</p>
                    </div>
                    <div class="level-item">
                        <p>Price: @product.Price</p>
                    </div>
                </div>
            }

                <div class="has-text-right">
                    <a asp-page="/Index" class="button">Continue Shopping</a>
                    <a asp-page="/Checkout/CustomerInformation" class="button is-success">Checkout</a>
                </div>


        </div>
    </div>
</div>


